.login-form{
  display: flex;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  box-shadow: 0 0.7rem 1.2rem rgba(0,0,0,0.2);
}
.login-form__group{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.input__text{
  width: 90%;
  height: 3rem;
  margin-top: 3%;
}
.form-switcher{
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.form-switcher__option{
  color: black;
  font-size: 1.4rem;
  font-weight: 800;
  margin-left: 3rem;
  margin-right: 3rem;
  cursor: pointer;
}
.form-switcher__option--selected{
  color: lightgreen;
}

.btn_form{
  margin-top: 3%;
  margin-bottom: 3%;
}